@media screen and (max-width: 280px)
{
    .titulos_logo
    {
        font-size: 2rem !important;
    }
}
@media screen and (min-width: 280px) and (max-width: 750px)
{
    .tabla
    {
        padding: 10px;
        width: auto;
    }
}